#Para uma analise mais infundada é interresante colocar cada etapa em partes
#kagle (site para tabelas com tratamento de dados ) 
#passo a passo do projeto 
    #Passo 1, abrir a base de dados (importar a base de dados )
import pandas as pd

tabela = pd.read_csv('cancelamentos.csv')

display(tabela)

    #Passo 2: visualizar a base de dados 
        #entender as informaçoes disponiveis
        #possiveis problemas/erros na base de dados
        #informaçoes inuteis, informaçoes vazias sao impecilios 
tabela = tabela.drop(columns='CustomerID')

#Passo 3: corrigir os problemas de dados (tratamento dados)
display(tabela.info())
    #informaçoes vazias
tabela = tabela.dropna()     
    #valores em formatos errados 
display(tabela.info())

#Passo 4: Analise inicial (entender quantos clientes cancelaram)

#quantidade - 0 ou 1 
display(tabela['cancelou'].value_counts())

#porcentagem
display(tabela['cancelou'].value_counts(normalize=True))

#Passo 5: Analise detalhada (causa do cancelamento dos clientes)
import plotly.express as px 

for coluna in tabela.columns:

    grafico = px.histogram(tabela, x=coluna, color='cancelou', text_auto=True)
    grafico.show()

condicao = tabela ['duracao_contrato'] != 'Monthly'
tabela = tabela[condicao]

condicao = tabela ['ligacoes_callcenter'] <= 4
tabela = tabela[condicao]

condicao = tabela ['dias_atraso'] <= 20
tabela = tabela[condicao]

display(tabela['cancelou'].value_counts(normalize=True))
